STAGE=dev

DB_NAME=DBName
DB_USERNAME= postgres
DB_PASSWORD=MyPasswordPostGreSQL
DB_HOST=localhost
DB_PORT=5432

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET='E$t43sM1s3c3tO*'

# Config for mailer
MAIL_HOST= "smtp-host"
MAIL_PORT= "port"
MAIL_SECURE= true
MAIL_USER=  "username"
MAIL_PASSWORD="password"
MAIL_FROM= noreply@example.com

DEEP_LINK=https://example.com/reset-password
VERIFICATION_LINK=http://localhost:3010/api/auth/verify-email